python-decouple
motor[srv]==3.7.1
dnspython
aiohttp
aiofiles
feedparser
telethon
pyrofork==2.3.67
tgcrypto
AnilistPython==0.1.3
anitopy
pytz
aiofiles
aiohttp
anitopy
dnspython
feedparser
motor[srv]==3.7.1
pyrofork==2.3.67
python-decouple
pytz
telethon
tgcrypto
